@use '../abstracts' as *;
.section-wrapper {
	text-align: center;

	.heading {
		@include heading($primary-blue, 69);
	}

	form {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: 768px;
		row-gap: 19px;
		.btn {
			margin-top: 35px;
			@include btn($primary-yellow);
		}
	}
}
