@use '../abstracts' as *;
.section-wrapper {
	min-width: 60%;
	text-align: center;
	.heading {
		@include heading($primary-blue, 69);
		@media (max-width: 620px) {
			@include heading($primary-blue, 25);
		}
	}

	form {
		max-width: 720px;
		padding-bottom: 30px;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		row-gap: 19px;
		.btn {
			margin-top: 35px;
			@include btn($primary-yellow);
		}
	}
}
