// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap');

$primaryFont: 'Inter', sans-serif;
$secondaryFont: 'Sen', sans-serif;

// Colors
$primary-black: #000000;
$primary-blue: #232536;
$primary-white: #ffffff;
$secondary-white: #f4f0f8;
$primary-yellow: #ffd050;
$primary-grey: #4c4c4c;
$secondary-grey: #6d6e76;
$primary-purple: #592ea9;
